/*Colores fuente */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #0F1D28;
}

ul {
  list-style: none;
}

.contenedor-logo {
  background-color: #AC9EB8;
}

#imagen-logo {
  display: flex;
  margin-left: 135px;
}

.foto-banner {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav-item {
  color: inherit;
  text-decoration: none;
  color: black;
  margin: 4px;
  font-size: 18px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  margin-left: 20px;
}

#menu a:hover {
  color: #fcd0cf;
}

#menu {
  display: flex;
  list-style-type: none;
  position: absolute;
  margin-left: 200px;
  top: 35px;
}

#contenedor-menu-hamburguesa {
  margin-left: 5px;
}

.nav-link {
  color: #000000;
}

.texto-discografia {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-weight: bold;
  color: #AC9EB8;
  text-decoration: underline;
}

.imagenes-celular {
  display: none;
}

.carousel-inner {
  width: 600px;
  margin-left: 30%;
  margin-top: 3%;
}

.carousel-control-prev {
  position: absolute;
  left: 24%;
  filter: invert(100%);
}

.carousel-control-next {
  position: absolute;
  right: 27%;
  filter: invert(100%);
}

.carousel-indicators {
  right: 50px;
}

.lista-redes {
  display: flex;
  margin-right: 100px;
  margin-top: 20px;
  list-style: none;
  flex-direction: column;
}
.lista-redes #icon-instagram {
  margin-left: 5px;
}
.lista-redes .img-thumbnail {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}
.lista-redes .instagram-tay {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  color: #FF0077;
}
.lista-redes #icon-twitter {
  width: 40px;
}
.lista-redes .twitter-tay {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  color: #249EF1;
}
.lista-redes #icon-tiktok {
  margin-left: 4px;
}
.lista-redes .tiktok-tay {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  color: black;
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 500px) {
  #imagen-logo {
    display: flex;
    margin: 0;
  }
  .contenedor-logo {
    height: 96px;
  }
  #contenedor-menu-hamburguesa {
    margin-left: 72px;
  }
  #menu {
    margin: 0;
  }
  #navbarNav {
    background-color: #AC9EB8;
  }
  #carouselExampleCaptions {
    display: none;
  }
  .imagenes-celular {
    display: block;
  }
  #discografia-mobile {
    width: 170px;
  }
  .contenedor-mobile-1 {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .contenedor-mobile-2 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
  }
}
.contenedor-logo {
  background-color: #AC9EB8;
}

#imagen-logo {
  display: flex;
  margin-left: 135px;
}

#fotos-galeria {
  width: 400px;
}

.contenedor-todas-galeria {
  margin-left: 10%;
  margin-top: 5px;
}

.contenedor-galeria-2 {
  margin-top: 0.4%;
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

/*Media Query Galeria*/
@media only screen and (max-width: 500px) {
  #imagen-logo {
    display: flex;
    margin: 0;
  }
  .contenedor-logo {
    height: 96px;
  }
  #contenedor-menu-hamburguesa {
    margin-left: 72px;
  }
  #menu {
    margin: 0;
  }
  #navbarNav {
    background-color: #AC9EB8;
  }
  .contenedor-todas-galeria {
    margin-right: 10%;
  }
  #fotos-galeria {
    margin: 1%;
  }
  .contenedor-galeria-1 {
    gap: 10px;
  }
  .contenedor-galeria-2 {
    gap: 5px;
  }
}
#imagen-erastour {
  display: flex;
  margin-left: 430px;
  margin-bottom: 1%;
  width: 700px;
}

.texto-eras {
  display: flex;
  margin-left: 10px;
  color: #AC9EB8;
  font-weight: bold;
}

.titulo-eras {
  display: flex;
  justify-content: center;
  color: #AC9EB8;
  text-decoration: underline;
}

.texto-taylor-argentina {
  display: flex;
  justify-content: center;
  color: #AC9EB8;
  text-decoration: underline;
}

.texto-taylor-buenos-aires {
  justify-content: center;
  color: #AC9EB8;
  font-weight: bold;
  margin-left: 10px;
}

.contenedor-taylor-argentina {
  justify-content: center;
}

.contenedor-imagen-1 {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.contenedor-imagen-2 {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.contenedor-imagen-3 {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 500px) {
  #imagen-logo {
    display: flex;
    margin: 0;
  }
  .contenedor-logo {
    height: 96px;
  }
  #contenedor-menu-hamburguesa {
    margin-left: 72px;
  }
  #menu {
    margin: 0;
  }
  #navbarNav {
    background-color: #AC9EB8;
  }
  #imagen-erastour {
    margin: 0;
    width: 300px;
    margin-left: 45px;
  }
  .texto-eras {
    margin-top: 10px;
  }
  .contenedor-imagen-1 {
    display: inline-block;
  }
  .contenedor-imagen-2 {
    display: inline-block;
  }
  .contenedor-imagen-3 {
    display: inline-block;
  }
}
.contenedor-encuesta {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 600px;
  margin-left: 30%;
}
.contenedor-encuesta .columnas {
  margin: 1%;
}
.contenedor-encuesta .sugerencias {
  color: #AC9EB8;
  font-weight: bold;
  margin-left: 6px;
}
.contenedor-encuesta .textarea {
  resize: none;
}

.titulo-contacto {
  display: flex;
  justify-content: center;
  color: #AC9EB8;
  text-decoration: underline;
}

.texto-contacto {
  display: flex;
  justify-content: center;
  color: #AC9EB8;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 10px;
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 500px) {
  #imagen-logo {
    display: flex;
    margin: 0;
  }
  .contenedor-logo {
    height: 96px;
  }
  #contenedor-menu-hamburguesa {
    margin-left: 72px;
  }
  #menu {
    margin: 0;
  }
  #navbarNav {
    background-color: #AC9EB8;
  }
  .contenedor-encuesta {
    width: 250px;
    margin: 0;
    margin-left: 60px;
  }
  .titulo-contacto {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
